.Keys {
	position: fixed;
	left: 0;
	top: 0;
	width: 31%;
	height: 100%;
	padding: 9vh 2% 1vh 2%;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.Keys::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.Employees {
	position: fixed;
	right: 0;
	top: 0;
	width: 69%;
	height: 100%;
	padding: 9vh 2% 0% 2%;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.Employees::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.KeyList {
	margin-top: 2vh;
}

.EmployeeList {
	margin-top: 2vh;
}

.ShowEmployees {
	margin-top: 2vh;
}

.AddEmployees {
	margin-top: 2vh;
}

.createKey {
	margin-top: 10%;
}

.Journaling {
	padding: 9vh 2% 0% 2%;
}
